body {
    color: $primary-text-color; 
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    letter-spacing: 0.03em; 
    background-color: $pure-white-color;
}
 

.list.flex {
    margin-left: auto;
}
.link {
    text-decoration: none;
    color: inherit;
}
html {
    box-sizing: border-box;
}
.list { 
    list-style: none; 
    padding: 0; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
img {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;}
ul,
h1,
h2,
h3,
p {
    margin: 0;
}
 .flex {
    display: flex;
}
.logo {
    color: $accent-color; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    font-family:'Raleway', sans-serif;
    display: inline-block;
    margin-right: 93px;
}